//- extends main template
extends tem/_base.jade

//- Config Page Title
block title
  title Home Page Title

//- main content here
block content
  h1 Lorem ipsum dolor sit amet.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat id vero quos odit porro accusantium.